header .telefonos{
 display:none;
 text-transform: uppercase;
}
#menu{
  margin-top: -32px;
  background: $color1;
  position:relative;
  height: 120px;
  z-index:99;
  h1{
    width: 250px;
    display:flex;
    margin-left: 20px;
    img{
      margin-top: 20px;
    }
  }
  span{
    position:absolute;
    top:15px;
    right:10px;
    color:#fff;
    z-index:99;
    font-size: 2em;
    cursor:pointer;
  }
  #card_menu{
    z-index: 100;
    position:absolute;
    top:80px;
    left:-100%;
	  width: 80%;
	  transition: all 0.8s;
    background: rgba(93,9,9,0.7);
    height: auto;
    figure{
      width: 250px;
      // margin-left: -10px;
      img{
        display:none;
        width: 100%;
      }
    }
    nav{
      ul{
        margin-left: -30px;
        li{
         list-style: none;
         margin-bottom: 10px;
         cursor:pointer;
         padding:0 20px;
         a{
          text-decoration: none;
           text-transform: uppercase;
           font-weight: bold;
           padding: 15px;
           display:block;
           border-top:1px solid rgba(255,255,255,0.5);
           &:hover{
             color:$color1;
             background: #FFF;
           }
         }
        }
      }
    }
  }
}
