.telefonos{
 display:none;
}
#menu{
  margin-top: -32px;
  background: $color1;
  position:relative;
  height: 80px;
  z-index:99;
  h1{
    width: 250px;
    img{
      width: 100%;
      margin-top:10px;
    }
  }
  span{
    position:absolute;
    top:5px;
    right:5px;
    color:#fff;
    z-index:99;
    font-size: 2em;
    cursor:pointer;
  }
  #card_menu{
    z-index: 100;
    position:absolute;
    top:80px;
    left:-100%;
	  width: 80%;
	  transition: all 0.8s;
    background: rgba(93,9,9,0.7);
    height: auto;
    figure{
      width: 250px;
      // margin-left: -10px;
      img{
        display:none;
        width: 100%;
      }
    }
    nav{
      ul{
        margin-left: -30px;
        li{
         list-style: none;
         margin-bottom: 10px;
         cursor:pointer;
         padding:0 20px;
         a{
          text-decoration: none;
           text-transform: uppercase;
           font-weight: bold;
           padding: 15px;
           display:block;
           border-top:1px solid rgba(255,255,255,0.5);
           &:hover{
             color:$color1;
             background: #FFF;
           }
         }
        }
      }
    }
  }
}
.nosotros-text{
  width: 100%;
  text-align: justify;
  line-height: 26px;
}
.nosotros-img{
  margin-top:20px;
  width: 100%;
  figure{
    margin: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
}
.docentes{
  width: 100%;
  height: auto;
  max-height:600px;
  overflow: hidden;
  figure{
    width: 100%;
    margin: 0;
    img{
      width: 100%;
    }
  }
}
.galeria{
  margin-top:30px;
  background: $color1;
  padding:10px;

  h2{
    color:#fff;
    border-color:#fff;
  }
  .fotos{
    width: 100%;
    .foto{
      margin: 0;
      padding: 0;
      width: 49.5%;
      display:inline-block;
      img{
        width: 100%;
      }
    }
  }
}
