/******NOSOTROS*****/
.nosotros-text{
  width: 100%;
  text-align: justify;
  line-height: 26px;
}
.nosotros-img{
  margin-top:20px;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  figure{
    margin: 0;
    width: 100%;
    img{
      width: 100%;
    }
  }
}
.docentes{
  width: 100%;
  height: auto;
  max-height:600px;
  overflow: hidden;
  figure{
    width: 100%;
    margin: 0;
    img{
      width: 100%;
    }
  }
}
/**********GALERIA**************/
.galeria{
  margin-top:30px;
  background: $color1;
  padding:10px;

  h2{
    color:#fff;
    border-color:#fff;
  }
  .fotos{
    width: 100%;
    .foto{
      margin: 0;
      padding: 0;
      width: 49%;
      display:inline-block;
      img{
        width: 100%;
      }
    }
  }
}
/******BLOG******/
.blog{
  margin-bottom: 60px;
  .noticia{
    margin-bottom: 20px;
    figure{
      width: 100%;
      margin: 0;
      img{
        width: 100%;
      }
    }
    .post{
      .titulo{
        margin: 10px 0px;
        .nivel{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.1em;
          display:inline-block;
          float:left;
        }
        .fecha{
          display:inline-block;
          padding: 5px 10px;
          background: $color1;
          border-radius: 5px;
          color: #fff;
          float:right;
        }
      }
      .texto{
        max-height: 200px;
        text-align: justify;
        overflow: hidden;
      }
      a{
        color:$color1;
        float:right;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
  >a{
    text-decoration: none;
    float:right;
    margin-bottom: 20px;
    border:none;
    padding: 10px 20px;
    background: $color1;
    border-radius: 5px;
    color:#FFF;
  }
}

/******FRASE******/
.frase{
  width: 100%;
  background: $color1;
  p{
    padding: 50px 0;
    color:#FFF;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/***MAPA***/
.mapa{
  width: 100%;
  iframe{
    width: 100%;
  }
}
/**** INICIAL****/
.contenedor .secciones{
  width: 100%;
  .seccion{
    width: 100%;
    margin-bottom: 30px;
    .texto{
      width: 100%;
      .titulo{
        margin: 10px 0;
        color:$color1;
        font-weight: bold;
      }
      p{
        text-align: justify;
        line-height: 26px;
      }
    }
  }
}

/****BLOG PRINCIPAL****/
.blog-principal{
  margin-top: 30px;
  .etiquetas{
    color:$color1;
    font-weight: bold;
    text-transform: uppercase;
    display:flex;
    margin-bottom: 15px;
    div{
      border-right:1px solid $color1;
      padding: 10px;
      cursor:pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    div:first-child{
      padding-left: 0;
    }
    div:last-child{
      border-right: none;
    }
  }
  .noticia{
    margin-bottom: 50px;
  }
}
aside{
  display:none;
}
