@media screen and (min-width: 480px){
  /***INICIAL***/
  .contenedor .secciones .seccion{
    display:flex;
    flex-direction: row;
    align-items: center;
    figure{
      width: 47%;
    }
    .texto{
      width: 50%;
      margin-left: 3%;
    }
  }
}
@media screen and (min-width: 600px){
  .nosotros{
   .nosotros-text{
     width: 50%;
     display:inline-block;
   }
   .nosotros-img{
     margin-top:0;
     margin-left: 1%;
     width: 48%;
     display:inline-block;
     vertical-align: top;
   }
 }
  .galeria .fotos .foto{
    width:24%;
    &:hover{
      transform: scale(1.1);
    }
  }
  /*****BLOG****/
  .blog .noticia{
    margin-bottom: 50px;
    figure{
      width: 45%;
      float:left;
    }
    .post{
      float:right;
      width: 50%;
      .texto{
        max-height: 120px;
      }
      .boton{
        margin-top: 10px;
      }
    }
  }
  /***footer***/
  footer .menu .nivel, footer .menu-nivel .nivel{
    width: 32%;
    float:left;
    margin-right: 1%;
    border-bottom: none;
    border-right: 2px solid rgba(255,255,255,0.6);
    p{
      text-align: center;
    }
  }
  footer .menu .nivel:last-child, footer .menu-nivel .nivel:last-child{
    border-right: none;
  }
}
/*****************min-width: 767px**************/
@media screen and (min-width: 767px){
  header .telefonos{
    display:block;
    text-align: center;
    margin:5px auto;
    p{
      display:inline-block;
      width:auto;
      font-size:0.7em;
      margin-right:25px;
    }
  }
  #menu{
    height: 100px;
    margin-top: 10px;
    h1{
      display:none;
    }
    span{
      display:none;
    }
    #card_menu{
      top:0;
      left:0;
      width: 100%;
      height: auto;
      background: $color1;
      padding: 25px 0;
      a{
        width: 40%;
        display:inline-block;
        vertical-align: middle;
        figure{
          width: 100%;
          img{
            display:block;
          }
        }
      }
      nav{
        width: 58%;
        display:inline-block;
        vertical-align: middle;

        ul{
          margin: 0;
          li{
            display:inline-block;
            padding: 0;
            margin-left: 10px;
            a{
              border-top:none;
              padding: 10px;
              font-size: 12px;
              width:auto;
              &:hover{
                border-radius:5px;
              }
            }
          }
        }
      }
    }
  }
  /****BLOG*****/
  .blog .noticia .post .texto{
    max-height: 180px;
  }
  /***FOOTER***/
  footer .menu{
    float:left;
    border-right: 2px solid rgba(255,255,255,0.6);
    width: 35%;
    .nivel{
      margin-bottom: 10px;
      padding-bottom: 10px;
      width: 100%;
      float:none;
      border-right: none;
      vertical-align: bottom;
      p{
        text-align: left;
        margin-bottom: 15px;
      }
      span{
        margin-bottom: 15px;
      }
    }
  }
   footer form{
    float:right;
    width: 62%;
    margin-top: 70px;
    p{
      margin-bottom: 20px;
    }
    .form{
      width: 100%;
      input{
        width: 46%;
        float:left;
        margin-right: 1%;
        margin-bottom: 20px;
      }
    }
    input[type="submit"]{
      width: 96%;
    }
    textarea{
      width: 95%;
    }
  }
  /*****INICIAL***/
  .contenedor .secciones{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .seccion{
      flex-direction: column;
      width: 30%;
      figure{
        width: 100%;
      }
      .texto{
        width: 100%;
        margin: 0;
      }
    }
  }
  /****BLOG PRINCIPAL***/
  .blog-principal{
    margin-top: 80px;
  }
}
/**************** min-width: 950px ************/
@media screen and (min-width: 950px){
   .nosotros{
    .nosotros-text{
      width: 58%;
      display:inline-block;
      font-size: 1.1em;
      line-height: 35px;
    }
    .nosotros-img{
      margin-top:0;
      margin-left: 1%;
      width: 40%;
      display:inline-block;
      vertical-align: top;
    }
  }
  /*******BLOG******/
  .blog .noticia .post .texto{
    max-height: 230px;
  }
  /****BLOG PRINCIPAL***/
  main{
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    .blog-principal{
      margin-top: 120px;
      width: 65%;
      .etiquetas{
        margin-bottom: 30px;
      }
    }
    aside{
      display:block;
      width: 28%;
      margin-top: 190px;
      background: #7F3F3F;
      padding: 10px;
      border-radius: 3px;
      h4{
        text-transform: uppercase;
        text-align: center;
        background: #FFF;
        padding: 10px 0;
        color:$color1;
        margin-bottom: 20px;
      }
      .noticia{
        text-transform: uppercase;
        color:#FFF;
        margin-bottom: 20px;
        border-bottom: 2px solid
         rgba(255,255,255,0.5);
         padding-bottom: 5px;
         a{
           text-decoration: none;
           &:hover{
             text-decoration: underline;
           }
         }
      }
    }
  }
}
