@media screen and (min-width: 480px){
  body{
    background: green;
  }
}
@media screen and (min-width: 600px){
  body{
    background: yellow;
  }
}
@media screen and (min-width: 767px){
  body{
    background: orange;
  }
  .telefonos{
    display:block;
    text-align: center;
    margin:20px auto;
    height: 30px;
    p{
      display:inline-block;
      width:auto;
      font-size: 14px;
      margin-right:25px;
    }
  }
  #menu{
    height: 100px;
    margin-top: 10px;
    h1{
      display:none;
    }
    span{
      display:none;
    }
    #card_menu{
      top:0;
      left:0;
      width: 100%;
      height: auto;
      background: $color1;
      a{
        width: 35%;
        display:inline-block;
        vertical-align: middle;
        figure{
          width: 80%;
          img{
            display:block;
          }
        }
      } 
      nav{
        width: 64%;  
        display:inline-block;
        // border:1px solid blue;
        vertical-align: middle;
 
        ul{
          margin: 0;
          li{
            display:inline-block;
            padding: 0;
            margin-left: 10px;
            a{
              border-top:none;
              padding: 10px;
              font-size: 12px;
              width:auto;
              &:hover{
                border-radius:5px;
              }
            }
          }
        }
      }
    }
  }
   .nosotros{
    .nosotros-text{
      width: 50%;
      display:inline-block;
    }
    .nosotros-img{
      margin-top:0;
      margin-left: 1%;
      width: 48%;
      display:inline-block;
      vertical-align: top;
    }
  }  
}
@media screen and (min-width: 950px){
  body{
    background: blue;
  }
   .nosotros{
    .nosotros-text{
      width: 58%;
      display:inline-block;
      font-size: 1.1em;
      line-height: 35px;
    }
    .nosotros-img{
      margin-top:0;
      margin-left: 1%;
      width: 40%;
      display:inline-block;
      vertical-align: top;
    }
  }

}