body {
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Open sans", sans-serif; }

a {
  color: #ffffff; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.mostrar {
  left: -100%; }

h2 {
  text-align: center;
  margin: 40px auto;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 10px 0;
  width: 220px;
  text-transform: uppercase; }

header .telefonos {
  display: none; }

#menu {
  margin-top: -32px;
  background: #5D0909;
  position: relative;
  height: 80px;
  z-index: 99; }
  #menu h1 {
    width: 250px; }
    #menu h1 img {
      width: 100%;
      margin-top: 10px; }
  #menu span {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    z-index: 99;
    font-size: 2em;
    cursor: pointer; }
  #menu #card_menu {
    z-index: 100;
    position: absolute;
    top: 80px;
    left: -100%;
    width: 80%;
    transition: all 0.8s;
    background: rgba(93, 9, 9, 0.7);
    height: auto; }
    #menu #card_menu figure {
      width: 250px; }
      #menu #card_menu figure img {
        display: none;
        width: 100%; }
    #menu #card_menu nav ul {
      margin-left: -30px; }
      #menu #card_menu nav ul li {
        list-style: none;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 0 20px; }
        #menu #card_menu nav ul li a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          padding: 15px;
          display: block;
          border-top: 1px solid rgba(255, 255, 255, 0.5); }
          #menu #card_menu nav ul li a:hover {
            color: #5D0909;
            background: #FFF; }

/******NOSOTROS*****/
.nosotros-text {
  width: 100%;
  text-align: justify;
  line-height: 26px; }

.nosotros-img {
  margin-top: 20px;
  width: 100%; }
  .nosotros-img figure {
    margin: 0;
    width: 100%; }
    .nosotros-img figure img {
      width: 100%; }

.docentes {
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden; }
  .docentes figure {
    width: 100%;
    margin: 0; }
    .docentes figure img {
      width: 100%; }

/**********GALERIA**************/
.galeria {
  margin-top: 30px;
  background: #5D0909;
  padding: 10px; }
  .galeria h2 {
    color: #fff;
    border-color: #fff; }
  .galeria .fotos {
    width: 100%; }
    .galeria .fotos .foto {
      margin: 0;
      padding: 0;
      width: 49%;
      display: inline-block; }
      .galeria .fotos .foto img {
        width: 100%; }

/******BLOG******/
.blog .noticia {
  margin-bottom: 60px; }
  .blog .noticia figure {
    width: 100%;
    margin: 0; }
    .blog .noticia figure img {
      width: 100%; }
  .blog .noticia .post .titulo {
    margin: 10px 0px; }
    .blog .noticia .post .titulo .nivel {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1em;
      display: inline-block;
      float: left; }
    .blog .noticia .post .titulo .fecha {
      display: inline-block;
      padding: 5px 10px;
      background: #5D0909;
      border-radius: 5px;
      color: #fff;
      float: right; }
  .blog .noticia .texto {
    max-height: 200px;
    text-align: justify;
    overflow: hidden; }
  .blog .noticia a {
    color: #5D0909;
    float: right;
    text-decoration: none; }
    .blog .noticia a:hover {
      text-decoration: underline; }

/******FRASE******/
.frase {
  width: 100%;
  background: #5D0909; }
  .frase p {
    padding: 50px 0;
    color: #FFF;
    text-align: center; }

@media screen and (min-width: 480px) {
  body {
    background: green; } }
@media screen and (min-width: 600px) {
  body {
    background: yellow; }

  .galeria .fotos .foto {
    width: 24%; }
    .galeria .fotos .foto:hover {
      transform: scale(1.1); }

  /*****BLOG****/
  .blog .noticia {
    margin-bottom: 50px; }
    .blog .noticia figure {
      width: 45%;
      float: left; }
    .blog .noticia .post {
      float: right;
      width: 50%; }
      .blog .noticia .post .texto {
        max-height: 120px; }
      .blog .noticia .post .boton {
        margin-top: 10px; } }
/*****************min-width: 767px**************/
@media screen and (min-width: 767px) {
  body {
    background: orange; }

  .telefonos {
    display: block;
    text-align: center;
    margin: 20px auto;
    height: 30px; }
    .telefonos p {
      display: inline-block;
      width: auto;
      font-size: 14px;
      margin-right: 25px; }

  #menu {
    height: 100px;
    margin-top: 10px; }
    #menu h1 {
      display: none; }
    #menu span {
      display: none; }
    #menu #card_menu {
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: #5D0909; }
      #menu #card_menu a {
        width: 35%;
        display: inline-block;
        vertical-align: middle; }
        #menu #card_menu a figure {
          width: 80%; }
          #menu #card_menu a figure img {
            display: block; }
      #menu #card_menu nav {
        width: 64%;
        display: inline-block;
        vertical-align: middle; }
        #menu #card_menu nav ul {
          margin: 0; }
          #menu #card_menu nav ul li {
            display: inline-block;
            padding: 0;
            margin-left: 10px; }
            #menu #card_menu nav ul li a {
              border-top: none;
              padding: 10px;
              font-size: 12px;
              width: auto; }
              #menu #card_menu nav ul li a:hover {
                border-radius: 5px; }

  .nosotros .nosotros-text {
    width: 50%;
    display: inline-block; }
  .nosotros .nosotros-img {
    margin-top: 0;
    margin-left: 1%;
    width: 48%;
    display: inline-block;
    vertical-align: top; }

  /****BLOG*****/
  .blog .noticia .post .texto {
    max-height: 180px; } }
/**************** min-width: 950px ************/
@media screen and (min-width: 950px) {
  body {
    background: blue; }

  .nosotros .nosotros-text {
    width: 58%;
    display: inline-block;
    font-size: 1.1em;
    line-height: 35px; }
  .nosotros .nosotros-img {
    margin-top: 0;
    margin-left: 1%;
    width: 40%;
    display: inline-block;
    vertical-align: top; }

  /*******BLOG******/
  .blog .noticia .post .texto {
    max-height: 230px; } }
