$fondo: #f2f2f2;
$color1: #5D0909;
$color2: #970F13;
$texto: #292929;

$font-family:'Open sans', sans-serif;

$font-size: 16px;

body{
  background: $fondo;
  font-size: $font-size;
  font-family: $font-family;
}

a{
  color:#ffffff;
}
.active{
  color:$color1;
  background: #FFF;
  border-radius: 5px;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin:0 auto;
}
.mostrar{
  left:-100%;
}
h2{
  text-align: center;
  margin:40px auto;
  border-top:5px solid #000;
  border-bottom:5px solid #000;
  padding: 10px 0;
  width:220px;
  text-transform: uppercase;
}
h3{
  margin:20px 0px;
  text-decoration: underline;
}
figure{
  margin: 0;
  width: 100%;
}
img{
  width: 100%;
}

@import "header";
@import "main";
@import "footer";
@import "mediaqueries";
