
@font-face {
  font-family:'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff')
  format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
.flexslider{
  width: 100%;
  position: relative;
}
.slides{
  width: 100%;
  height: auto;
  max-height:500px;
  overflow: hidden;
}
.slides img{
  width: 100%;
}
.slides,
.flex-control-nav,
.flex-direction-nav{
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-control-nav{
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:5%;
  z-index: 9;
}
.flex-control-nav li{
  display:inline-block;
  margin: 0 10px;
}
.flex-control-nav li a{
  display:block;
  background: #777777;
  width: 10px;
  height: 10px;
  border-radius:10px;
  text-indent: -99999px;
}
.flex-control-nav li a:hover{
  background: #2e2e2e;
}
.flex-control-nav li a.flex-active{
  background: #2e2e2e;
}
.flex-direction-nav a{
  display:block;
  text-decoration: none;
  position:absolute;
  top:40%;
  z-index:999;
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev{
  left:3px;
}
.flex-direction-nav .flex-next{
  right:3px;
}
.flex-direction-nav a:before{
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: "\f001";
  color:#fff;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.flex-direction-nav a.flex-next:before{
  content:"\f002";
}
.flex-caption{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-caption p{
  position:absolute;
  top:40%;
  font-size: 2em;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  text-transform: uppercase;
  color:#FFF;
  padding: 10px 20px;
  font-family: 'Playfair';
}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next{
  opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev{
  left: 20px;
}
.flexslider:hover .flex-direction-nav .flex-next{
  right: 20px;
}
@media screen and (min-width: 600px){
  .flex-direction-nav a{
    top:55%;
  }
  .flex-caption p{
    font-size: 3em;
    top:35%;
  }
}
@media screen and (min-width: 767px){
  .flex-caption p{
    top:28%;
  }
}
